<div class="breadcrumbs">
  {{#if this.isIndexPage}}
    Home
  {{else}}
    <LinkTo @route="index">Home</LinkTo>
    >
    {{#if this.isSingleItem}}
      <LinkTo @route={{this.attributeSection}}>{{this.attributeSectionProper}}</LinkTo>
      >
      <LinkTo @route={{this.attributeSectionCategory}}>{{this.attributeCategoryProper}}</LinkTo>
      > {{this.attributeId}}
    {{else}}
      {{#if this.isFirstPage}}
        {{this.getCurrentRouteName}}
      {{else}}
        <LinkTo @route={{this.getParentRouteName}}>{{this.getProperParentRouteName}}</LinkTo>
        >
        {{this.getCurrentRouteName}}
      {{/if}}
    {{/if}}
  {{/if}}

</div>